* {
    /* Zero'd out most inherited stylings */
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none; 
}

/* #7289da blue highlight
#ffffff darkest background
#99aab5 lightest background
#2c2f33 gray background
#23272a dark gray background */