* {
    /* Zero'd out most inherited stylings */
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none; 
    color: #ffffff;
    background-color: #23272a;
    justify-content: center;
}

a {
    color: #7298da;
}

/* #7289da blue highlight
#ffffff text white background
#99aab5 lightest background
#2c2f33 gray background
#23272a dark gray background */

/* Start of Flex Tagging */
body,
.allHeaders,
.headerTop,
.navbar,
.headerBottom,
main,
h1,
.callToActionButton,
.article,
.articleHeader,
.articleBody,
.articleFooter,
footer,
.firstFooterColumn,
.secondFooterColumn,
.thirdFooterColumn,
.footerLinkColumn{
    display:flex;
}
/* end of Flex Tagging */


/* Start of Flexbox Column */
body,
.allHeaders,
main,
.article,
.firstFooterColumn,
.secondFooterColumn,
.footerLinkColumn{
    flex-direction: column;
}
/* End of Flexbox Column */

.headerTop{
    justify-content: space-between;
    
}

