* {
    /* Zero'd out most inherited stylings */
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none; 
    color: #ffffff;
    background-color: #23272a;
}

a {
    color: #7298da;
}

/* #7289da blue highlight
#ffffff text white background
#99aab5 lightest background
#2c2f33 gray background
#23272a dark gray background */

/* Flex Creation */
body,
.allHeaders,
.headerTop,
.navbar,
.headerBottom,
main,
.article,
footer,
.firstFooterColumn,
.secondFooterColumn,
.thirdFooterColumn{
    display:flex;
}
/* end of Flex Creation */